<!DOCTYPE html>
<html>
<head>
    <title>Prediction</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-teal-500">
    <h1 class="text-4xl bold text-center m-8">Classification with Transfer Learning</h1>
    <div class="flex flex-col mx-auto justify-center items-center gap-20">
        <img src={{data}} class="w-[400px] h-[400px] text-center" >
        <p class="text-center text-3xl text-bold ">{{name.upper()}}</p>
        <form action="/" method="get">
            <button type="submit" class="border bg-blue-500 px-3 py-2 text-bold text-xl text-white mt-0 mb-3"> Back</button>
        </form>        
    </div>

    
</body>
</html>